<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Period 0</th>
      <th>Period 1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.13230</td>
      <td>0.13230</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.15040</td>
      <td>0.15040</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.32377</td>
      <td>0.32377</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.36377</td>
      <td>0.36377</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.36377</td>
      <td>0.36377</td>
    </tr>
  </tbody>
</table>