<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Period 0</th>
      <th>Period 1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>18.50</td>
      <td>10.90</td>
    </tr>
    <tr>
      <th>1</th>
      <td>24.05</td>
      <td>14.17</td>
    </tr>
    <tr>
      <th>2</th>
      <td>37.00</td>
      <td>21.80</td>
    </tr>
    <tr>
      <th>3</th>
      <td>55.50</td>
      <td>32.70</td>
    </tr>
    <tr>
      <th>4</th>
      <td>-1.00</td>
      <td>-1.00</td>
    </tr>
  </tbody>
</table>